<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>

<body>
    <form method="POST">
        {{form.csrf_token}} {{form.author_name.label}}
        <p>{{form.author_name}}</p>
        {% for msg in form.author_name.errors %}
        <p>{{msg}}</p>
        {% endfor %} {{form.book_name.label}}
        <p>{{form.book_name}}</p>
        {% for msg in form.book_name.errors %}
        <p>{{msg}}</p>
        {% endfor %} {{form.submit}}
    </form>
    <ul>
        {% for author in authors %}
        <li>作者:{{author.name}}</li>
        <ul>
            {% for book in author.books%}
            <li>书籍:{{ book.name }}</li>
            <!-- <a href="javascript:;" book-id="{{book.id}}">删除</a> {% endfor %} -->
            <a href="/delete_book?book_id={{book.id}}">GET删除</a> {% endfor %}
        </ul>
        {% endfor %}
    </ul>
    <script src="../static/js/jquery-1.11.1.min.js " type="text/javascript "></script>
    <!-- <script>
        $("a").click(function() {
            var data = {
                book_id: $(this).attr("book-id")
            }

            var req_json = JSON.stringify(data);

            $.ajax({
                url: "/delete_book", //请求的后端的url
                type: "post", //请求方式
                data: req_json, //向后端发送请求体数据
                contentType: "application/json", //指明后端发送的数据格式
                dataType: "json", //指明后端返回的数据格式
                success: function(resp) {
                    if (resp.code == 0) {
                        location.href = "/";
                    }
                }


            })
        })
    </script> -->
</body>

</html>